@model IEnumerable<WebApplicationCTDEO.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modalidade.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modalidade.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TurmaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TurmaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TurmaId })
        </td>
    </tr>
}

</table>
